@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<h2>Projects</h2>

<div class="card" style="width: 18rem;">
    <a href="/Clients" style="text-decoration:none">
    <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/03/31/17/39/avatar-2191918_960_720.png" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Clients</h5>
        <p class="card-text">View, add, edit, and delete clients.</p>
        </a>
        <br>
        <a href="https://shorturl.at/ijksE" class="btn btn-primary d-block mx-auto">Link to Github</a>
    </div>
</div>